<div class="high-score">
  <h1 class="py-5">HIGH SCORES</h1>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-center">
            <thead class="border-b">
              <tr>
              </tr>
            </thead>
            <tbody>
              {{#if user_id.[0]}}
              <tr>
                <td><p class="px-5">{{userName.[0]}}</p></td>
                <td><p class="px-5">{{userScores.[0]}}</p></td>
              </tr>
              {{/if}}
              {{#if user_id.[1]}}
              <tr>
                <td><p>{{userName.[1]}}</p></td>
                <td><p>{{userScores.[1]}}</p></td>
              </tr>
              {{/if}}
              {{#if user_id.[2]}}
              <tr>
                <td><p>{{userName.[2]}}</p></td>
                <td><p>{{userScores.[2]}}</p></td>
              </tr>
              {{/if}}
              {{#if user_id.[3]}}
              <tr>
                <td><p>{{userName.[3]}}</p></td>
                <td><p>{{userScores.[3]}}</p></td>
              </tr>
              {{/if}}
              {{#if user_id.[4]}}
              <tr>
                <td><p>{{userName.[4]}}</p></td>
                <td><p>{{userScores.[4]}}</p></td>
              </tr>
              {{/if}}
              {{#if user_id.[5]}}
              <tr>
                <td><p>{{userName.[5]}}</p></td>
                <td><p>{{userScores.[5]}}</p></td>
              </tr>
              {{/if}}
              {{#if user_id.[6]}}
              <tr>
                <td><p>{{userName.[6]}}</p></td>
                <td><p>{{userScores.[6]}}</p></td>
              </tr>
              {{/if}}
              {{#if user_id.[7]}}
              <tr>
                <td><p>{{userName.[7]}}</p></td>
                <td><p>{{userScores.[7]}}</p></td>
              </tr>
              {{/if}}
              {{#if user_id.[8]}}
              <tr>
                <td><p>{{userName.[8]}}</p></td>
                <td><p>{{userScores.[8]}}</p></td>
              </tr>
              {{/if}}
              {{#if user_id.[9]}}
              <tr>
                <td><p>{{userName.[9]}}</p></td>
                <td><p>{{userScores.[9]}}</p></td>
                {{/if}}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
